<html>
  <head>
  <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h1>게임을 시작하시려면 <br>개인 url로 접속 부탁드림</h1>
    <p>ex) /:team/:name</p>
    <p>팀 A :</p>
    <ul>
      <li><a href="/game/A/hyo">hyo</a></li>
      <li><a href="/game/A/dia">dia</a></li>
      <li><a href="/game/A/merlin">merlin</a></li>
    </ul>
    <p>팀 B :</p>
    <ul>
      <li><a href="/game/B/justin">justin</a></li>
      <li><a href="/game/B/monica">monica</a></li>
      <li><a href="/game/B/jake">jake</a></li>
    </ul>
  </body>
</html>