<html>
  <head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>게임을 시작하시려면 <br>개인 url로 접속 부탁드림</h1>
    <p>ex) /:team/:name</p>
    <a href="/back" target="_blank">진행자 페이지 가기</a>
    <form method="POST" action="/back/join">
    팀선택: 
    <select name="team">
      <option>A</option>
      <option>B</option>
    </select>
    이름:
    <input name="username" type="text" />
    <button type="submit">참가하기!</button>
  </form>
  </body>
</html>