<html>
  <head>
  <title><%= title %></title>
  </head>
  <body>
    <h1>제출되었습니다. 기다려주세요</h1>
    <p>다음 라운드 가기 >>></p>
    <p>팀 A :</p>
    <ul>
      <li><a href="/game/A/merlin">merlin</a></li>
      <li><a href="/game/A/dia">dia</a></li>
      <li><a href="/game/A/jake">jake</a></li>
    </ul>
    <p>팀 B :</p>
    <ul>
      <li><a href="/game/B/justin">justin</a></li>
      <li><a href="/game/B/monica">monica</a></li>
      <li><a href="/game/B/hyo">hyo</a></li>
    </ul>
  </body>
</html>