<html>

<head>
  <title>
  </title>
</head>

<body>
  <h1>진행자 페이지</h1>
  <div>참여자: <%= users %></div>
  <br />
  <br />
  <br />
  <a href="/back/start">게임 시작하기</a>
  <br />
  <br />
  <br />
  <a href="/back/reset">게임 리셋하기</a>
</body>
</html>