<html>

<head>
  <title>
  </title>
</head>

<body>
  <h1>진행자 페이지</h1>
  <a href="/back/start">라운드 시작하기</a>
  <br/><br/>
  <form method="POST" action="/api/reset">
    <button>라운드 리셋하기</button>
  </form>
</body>
</html>