<html>

<head>
  <title>
  </title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <h1 id="time">team A: <%= teamA %></h1>
  <h1 id="time">team B: <%= teamB %></h1>
  <a href="/back/summary">총 결과는?</button>
</body>
</html>