<html>

<head>
  <title>
  </title>
</head>

<body>
  <h1><%= round %> 라운드</h1>
  <h1 id="time">winTeam: <%= winTeam %></h1>
  <h1 id="time">desc: <%= desc %></h1>
  <br/>
  <br/>
  <a href="/back/next">다음 라운드</button>
  <div style="text-align: right">
    <a  href="/back/end">게임종료</button>
  </div>
  
</body>
</html>